.btnConnexionEmplacement{
  position: absolute;
  right: 1%;
  top: 0.5%;

  .btnConnexion{
    background-color: #53AEC6;
    border: 2px solid #53AEC6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
  }
}

