.fichePerso{
  border: 1px solid darkmagenta;
  border-radius: 10px;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.imgFichePerso{
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}