.inscriptionReussie{
  padding-top: 10%;
  width: 50%;
  margin: auto;
  .btnRetourAccueil{
    background-color: #53AEC6;
    border: 2px solid #53AEC6;
    color: white;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    font-size: 16px;
  }
}